@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --auth-bg: #f4f4f4;
    --auth-primary: #ffd66c;
  }
}

@layer utilities {
  .glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  @keyframes bounce-slow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  .animate-bounce-slow {
    animation: bounce-slow 3s infinite ease-in-out;
  }
}

/* Hide scrollbar globally */
*, *::before, *::after {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

body {
  @apply bg-gray-100;
  font-family: Inter, sans-serif;
}

@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
